/*
	Default settings:
	- One example
	- 5 Questions
	- Add 'has-ten-questions' to <section class="questions"> for 10 questions format
*/

.questions.has-ten-questions {
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}


.body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  	font-family: 'Noto Sans', "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Helvetica, Arial,sans-serif;


  	background: #fafdff url('triangles.svg');
}

.wrapper {
	margin: auto;
	width: 100%;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 90px;
}

.header__logo {
	padding: 40px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}


.questions {
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
}

.questions__item {
	margin: auto;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	position: relative;
	transition: background 0.3s;
	cursor: pointer;

}

.questions__label, 
.questions__item {
	width: 100%;
	height: 200px;
	background: #4285f4;
	border-radius: 15px;
}

.questions__label:hover {
	background: #1a63dc;
	cursor: pointer;
}
.questions__item {
	background: #ea4335;
}

.questions__item:hover {
	cursor: pointer;
	background: #b9392e;
}

.questions__label,
.questions__item {
	display: flex;
	justify-content: center;
	align-items: center;
}

.questions__label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	color: #fff;
	font-size: 40px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.no-touch {
	pointer-events: none;
}

.questions__link:visited,
.questions__link {
	color: #fff;
	font-size: 36px;
	text-decoration: none;
}